.sign-body{
    background-color: #F8EBFF;
}
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    padding: 400px 0px 30px 0px;
    color: white;
}
.nav-link{
    text-decoration: none;
    color: green;
    border: 1px solid;
    padding: 7px 13px;
    border-radius: 3px;
}
.nav-link:hover{
    color: white;
    background-color: green;
    border-color: green;
}
.about-heading{
    font-size: 30px;
}
.about-details{
    color: grey;
}
.about-us-image{
    border-radius: 5px;
    height: 90%;
}
.get-started, .nav-item{
    border: 1px solid;
    padding: 10px 13px;
    color: white;
}
.get-started:hover{
    color: white;
    background-color: green;
    border-color: green;
}
.nav-item{
    color: white;
}
.form-input{
    width: 100%;
    background-color: #F8EBFF;
}
.form-wrap{
    background-color: white;
    margin: auto;
    padding: 10px;
    margin-top: 100px;
    box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 10px 26px 0px rgba(0,0,0,0.58);
    /* border: 2px solid; */
}
.submit-form{
    width: 40%;
    border: 1px solid;
    padding: 8px 13px;
    color: green;
    background-color: white;
    border-radius: 4px; 
}
.submit-form:hover{
    color: white;
    background-color: green;
    border-color: green;
}
a{
    text-decoration: none;
}
.nav-info{
    font-size: 15px;
}
.text-reset:hover{
    color: green !important;
}
.line{
    width: 53px;
    height: 0;
    border: 1px solid green;
    margin: 3px;
    display: inline-block;
}
.sub-head{
    font-size: 20px;
}
.float{
	position:fixed;
	width:60px;
	height:50px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
    z-index:100;
}
.my-float{
	margin-top:16px;
}
.task-body{
    margin-left: auto;
    margin-right: auto;
}
.task-header{
    text-align: center;
    padding: 16px 0 16px 0;
}
.privacy{
    box-shadow: 0px -4px 9px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -4px 9px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 9px -2px rgba(0,0,0,0.75);
    margin: auto;
}
.privacy-subhead{
    font-size: 20px;
}